body {
    display: flex;
    flex-direction: column;
}
#minesweeper-title {
    font-size: 26px;
    font-family: 'Fjalla One';
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.container-wrapper {
    display: inline-block;
    margin: 0 auto;
    border: 4px solid #616161;
    padding: 20px;
    background-color: #9f9f9f;
}

#minesweeper-container {
    margin: 0 auto;
    border: 2px solid gray;
}

/* Game options bar */
#game-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Fjalla One';
}
#main-settings, #custom-settings {
    display: flex;
    flex-direction: row;
}
#custom-settings {
    margin-top: 20px;
}
#difficulty-select {
    width: 100px;
}
#play-btn {
    width: 75px;
}
#timer-txt {
    width: 60px;
    height: 21px;
    border: 2px solid gray;
    background-color: black;
    font-size: 18px;
    text-align: center;
    color: #ffff00;
}
.small-input {
    width: 40px;
}
#game-options label {
    font-size: 13px;
    line-height: 25px;
}
#game-options button, #game-options select {
    height: 25px;
    background-color: #e2e2e2;
    border-top: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-bottom: 2px solid #868686;
    border-right: 2px solid #868686;
    font-family: 'Fjalla One';
}
#game-options input {
    height: 19px;
    background-color: #fffefe;
    border-bottom: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
    border-top: 2px solid #868686;
    border-left: 2px solid #868686;
}
/* END - Game options bar */

.cell-btn {
    float: left;
    font-size: 1em;
    font-family: 'Fjalla One';
    background-color: #b7b4b4;
    border-top: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-bottom: 2px solid #868686;
    border-right: 2px solid #868686;
}
.cell-btn:focus {
    outline: transparent;
}
.cell-btn.revealed {
    background-color: #e2e2e2;
    border: 1px solid #b7b7b7;
}
.cell-bomb {
    background: url(../images/bomb.png) 0;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b7b4b4;
}
.cell-explode {
    background-color: #ff0000 !important;
}
.cell-win {
    background: url(../images/flag.png) 0;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b7b4b4;
}
.cell-marked {
    background: url(../images/flag-marked.png) 0;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b7b4b4;
}

/* Result div */
#result-div {
    font-size: 28px;
    font-family: 'Fjalla One';
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#result-div.win {
    color: #00c551;
}
#result-div.lose {
    color: #ff0000;
}
/* END - Result div */

.cell-1 {
    color: black;
}
.cell-2 {
    color: blue;
}
.cell-3 {
    color: deepskyblue;
}
.cell-4 {
    color: green;
}
.cell-5 {
    color: yellow;
}
.cell-6 {
    color: orange;
}
.cell-7 {
    color: red;
}
.cell-8 {
    color: purple;
}

/* Hide class */
.hide {
    display: none;
}